---
import { actions } from "astro:actions";
import { analyticsActions } from "../actions/analytics";

const { email } = Astro.props;

const { data, error } = await Astro.callAction(analyticsActions.incrementView, {
  email,
});

console.log(data);
---

<span class="font-bold">{data?.views || 0} visitas</span>
