---
const { name, loading } = Astro.props;
console.log("Loading:", loading);
---

{
  !loading ? (
    <div class="min-h-[70px] min-w-[70px] rounded-full border-[3px] border-white/80 flex flex-col justify-center items-center">
      <span class="font-bold">{name.charAt(0)}</span>
    </div>
  ) : (
    <div class="min-h-[70px] min-w-[70px] rounded-full border-[3px] border-white/80 flex flex-col justify-center items-center">
      <div class="animate-spin h-8 w-8 border-t-2 border-white/80 rounded-full" />
    </div>
  )
}

<style>
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .animate-spin {
    animation: spin 1s linear infinite;
  }
</style>
