---
interface Props {
  accentColor?: string;
}

const { accentColor } = Astro.props;

const accentColorValue = accentColor || "#E59452";
---

<div
  data-aos="fade-up"
  class="fixed w-[1440px] h-[1024px] scale-[0.6] top-0 -z-10 blur-[350px] transition-all duration-400 ease-in-out"
  style={{
    background: `
      radial-gradient(66.25% 59.41% at 97.81% 97.9%, ${accentColorValue} 0%, rgba(0, 0, 0, 0) 100%),
      radial-gradient(61.01% 69.09% at 11.22% 12.35%, ${accentColorValue}61 0%, #1C3969 100%)
    `,
  }}
>
</div>
