---
import Background from "../components/Background.astro";
import { Toaster } from "@/components/ui/sonner";

const { accentColor } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/fi.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>
  <body>
    <slot />

    <Background accentColor={accentColor} />
  </body>
</html>

<style>
  .footer-container {
    font-family: "CaskaydiaCove", sans-serif;
    padding: 1rem;
    text-align: center;
    font-size: 0.5rem;
    color: rgba(255, 255, 255, 0.5);
  }
  .btn {
    margin: 0 auto;
    width: 100px;
    height: 100px;
  }
  html {
    background-color: black;
  }
  body {
    background-color: transparent !important;
  }
  .content-container {
    background-color: transparent;
    margin-top: 7rem;
  }
</style>
